<?php 

$sConfirmationID = $ORDER_ID;
$orgClientId = $merchant;
$link        = $URL;

$orgOid = $sConfirmationID;

 $orgCurrency = "978";


 /// Temporary currency conversion - Bankart do not support multicurrency yet!


 $orgOkUrl = $APPROVED_URL;
 $orgFailUrl = $DECLINED_URL;



?>
<form action="<?php echo $link;?>" method="POST">
 
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="<?php echo $button_confirm; ?>" id="button-submit" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary" />
        </div>
    </div>
</form>